.topic{
    height: 850px;
    background-image: url(images/pps.png);
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.topic #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.topic #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}

/*-----------Animation-----------*/
@keyframes left{
    from {left: 0px;}
    to {left: 80px;}
}
@keyframes right{
    from {right: 0px;}
    to {right: 80px;}
}

/*-----------Hover Effect-----------*/
#left:hover{
    transform: scale(1.15); 
}
#right:hover{
    transform: scale(1.15); 
}

/*-----------Subjects-----------*/

.section{
    width: 100%;
    height: 900px;
    background-color: grey;
}
.section .subject{
    margin: 5% 29%;
    width: 40%;
    height: 200px;
}
.section #sub1{
    background-image: url(images/p_p_s.png);
}
.section #sub2{
    background-image: url(images/a_d_a.png);
}
.section #sub3{
    background-image: url(images/o_s.png);
}

/*-----------I/O(PPS)-----------*/

.i_o{
    height: 150%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.i_o #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.i_o #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}

/*-----------Data-Types(PPS)-----------*/

.data_types{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.data_types #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.data_types #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------CPU_Scheduling(OS)-----------*/

.cpu_scheduling{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.cpu_scheduling #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.cpu_scheduling #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------File_Allocation(OS)-----------*/

.file_allocation{
    height: 500%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.file_allocation #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.file_allocation #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------Memory_Partitioning(OS)-----------*/

.memory_partitioning{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.memory_partitioning #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.memory_partitioning #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------dead_lock_avoidance(OS)-----------*/

.dead_lock_avoidance{
    height: 200%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.dead_lock_avoidance #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.dead_lock_avoidance #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------dead_lock_detection(OS)-----------*/

.dead_lock_detection{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.dead_lock_detection #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.dead_lock_detection #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}



/*-----------ipc(OS)-----------*/

.ipc{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.ipc #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.ipc #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------page_replacement(OS)-----------*/

.page_replacement{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.page_replacement #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.page_replacement #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------paging_technique(OS)-----------*/

.paging_technique{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.paging_technique #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.paging_technique #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------synchronization(OS)-----------*/

.synchronization{
    height: 100%;
    background-color: #CDB99C ;
    background-repeat: no-repeat;
    margin: -10px -10px;
}
.synchronization #right {
    float: right;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-right:3%;
    opacity: 0.7;
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: right 0.8s forwards;
    animation-delay: 0.3s;
}
.synchronization #left {
    float: left;
    position: relative;
    background-color: slategrey;
    height: 120px;
    width: 30%;
    margin-left: 3%;
    opacity: 0.7; 
    color: black;
    text-align: center;
    padding-top: 2.8%;
    font-size: 200%;
    font-weight: 800;
    animation: left 0.8s forwards;
    animation-delay: 0.3s;
}


/*-----------Questions-----------*/

body{
    font-family: "Times New Roman"
}
.question{
    height: 100%;
    width: 62%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    font-size: 200%;
    font-weight: 800; 
}
.answer{
    height: 100%;
    width: 62%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    font-size: 150%;
    font-weight: 800; 
}


